# The URL for downloading the current version of HomeSeer:
HOMESEER_DOWNLOAD_URL=https://homeseer.com/updates4/linux_4_2_22_4.tar.gz

# Base image name & tag (e.g., mono:6.12.0, debian:buster-slim ubuntu:latest) and name of output image (e.g., XYZ/homeseer-docker)
IMAGE_BASE_NAME=mono
IMAGE_BASE_TAG=6.12.0
IMAGE_OUTPUT=homeseer

# Node.js version for Matter Controller plugin (e.g., 18, 20)
NODEJS_VERSION=18

# Platforms for Docker buildx (e.g., linux/amd64 or linux/arm64)
BUILD_PLATFORMS=linux/arm64

# Language & timezone
LANG=en_US.UTF-8
TZ=America/New_York

# Labels for Dockerfiles
LABEL_SCHEMA_VENDOR=XYZ
LABEL_SCHEMA_URL=https://github.com/XYZ/docker
LABEL_SCHEMA_VCS_URL=https://github.com/XYZ/docker