#   DOCKERFILE VARIABLES
    # The URL for downloading the current version of HomeSeer:
    HOMESEER_DOWNLOAD_URL=https://homeseer.com/updates4/linux_4_2_22_4.tar.gz

    # Base image name & tag (e.g., mono:6.12.0, debian:buster-slim, debian:latest, ubuntu:noble, ubuntu:latest) 
    #   and name of output image (e.g., XYZ/homeseer-docker)
    IMAGE_BASE_NAME=ubuntu
    IMAGE_BASE_TAG=latest
    IMAGE_OUTPUT=homeseer

    # Node.js version for Matter Controller plugin (e.g., 18, 20). Must set as one of the following:
    #     a.) specific version as an integer >= 18 
    #     b.) "latest" to use the most recent distro
    #     c.) "none" to not include in build
    NODEJS_VERSION=22 # NOTE - currently nodeJS inclusion is disabled in dockerfile

    # Platforms for Docker buildx (e.g., linux/amd64 or linux/arm64)
    BUILD_PLATFORMS=linux/arm64

    # Language & timezone
    LANG=en_US.UTF-8
    TZ=America/New_York

    # Labels for Dockerfiles
    LABEL_SCHEMA_VENDOR=XYZ
    LABEL_SCHEMA_URL=https://github.com/XYZ/docker
    LABEL_SCHEMA_VCS_URL=https://github.com/XYZ/docker

    # GID & UID for group:user homeseer:homeseer
    HOMESEER_UID=1003
    HOMESEER_GID=1003

#   DOCKER COMPOSE VARIABLES
    DIR_HOMESEER=/home/XYZ
    DIR_HOMESEER_BACKUP=/home/XYZ
    DIR_HOMESEER_MATTERJS=/home/XYZ
    DIR_HOMESEER_ZWAVEJS=/home/XYZ
    ZWAVE_DEVICE_PATH=/dev/serial/by-id/usb-XYZ
    ZWAVE_SESSION_SECRET=XYZ