#######################################################################################
#---DOCKER COMPOSE VARIABLES
    DIR_HOMESEER=XYZ/Docker/appdata/homeseer
    DIR_HOMESEER_BACKUP=XYZ/Backups/HomeSeerBackup
    DIR_HOMESEER_MATTERJS=XYZ/Docker/appdata/homeseer-matterjs
    DIR_HOMESEER_ZWAVEJS=XYZ/Docker/appdata/homeseer-zwavejs
    ZWAVE_DEVICE_PATH=/dev/serial/by-id/XYZ
    ZWAVE_SESSION_SECRET=XYZ