#######################################################################################
#---DOCKERFILE VARIABLES: build.sh will fail if these are not correctly filled
    # The URL for downloading the current version of HomeSeer:
    HOMESEER_DOWNLOAD_URL=https://homeseer.com/updates4/linux_4_2_22_4.tar.gz

    # Base image name & tag (e.g., mono:6.12.0, debian:buster-slim, debian:latest, ubuntu:noble, ubuntu:latest) 
    #   and name of output image (e.g., XYZ/homeseer-docker)
    IMAGE_BASE_NAME=ubuntu
    IMAGE_BASE_TAG=latest
    IMAGE_OUTPUT=homeseer
    PUSH_TO_REGISTRY=

    # Node.js version for Matter Controller plugin (e.g., 18, 20). Must set as one of the following:
    #     a.) specific version as an integer >= 18 
    #     b.) "default" to use the base image repository's version
    #     c.) "latest" to use the most recent distro
    #     d.) "none" to not include in build
    NODEJS_VERSION=none

    # Platforms for Docker buildx (e.g., linux/amd64 or linux/arm64)
    BUILD_PLATFORMS=linux/arm64

    # Language & timezone
    LANG=en_US.UTF-8
    TZ=America/New_York

    # Labels for Dockerfiles
    LABEL_SCHEMA_VENDOR=XYZ
    LABEL_SCHEMA_URL=https://github.com/XYZ/docker
    LABEL_SCHEMA_VCS_URL=https://github.com/XYZ/docker

    # GID & UID for group:user homeseer:homeseer
    HOMESEER_UID=1003
    HOMESEER_GID=1003